Flask==1.1.1
gevent==1.4.0
gunicorn==19.9.0
ipynb==0.5.1
jupyter==1.0.0
ipython==8.10.0
matplotlib==3.0.3
newrelic==5.4.0.132
numpy==1.22.0
pandas==0.25.3
pyrebase==3.0.27
requests==2.20.0
slackclient==2.3.0
